<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_tag 'images/favicon.png' %>
    <title></title>
    <!-- Bootstrap -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--Global CSS -->
    <%= stylesheet_link_tag "me.css" %>
  </head>
 <body>
 	<header>
 		<div class = "container">
 			<div class = "row">
 				<div class = "col-sm-12">
 					<h3 id = "logo">top products</h3>
 				</div>
 			</div>
 		</div>
 	</header>
<div class = "container">
	<div class = "row">
		<div class = "col-sm-12">
			<h1>Herbal Viagra - The 5 best All-Natural Supplements that WILL get you ROCK HARD</h1>
			<div id = "header-image">


			</div>
			
			<p>The secret is out - Viagra is a scam, and it’s not the best way to get the lasting rock-hard erections that you and your lady want. Pfizer and other big drug companies are furious that people are waking up and realizing they’ve been duped. These companies want you to pay outrageous prices for drugs that are nothing next to the all-natural alternatives. </p>
			 
			<p>But which alternatives? There are thousands of supplements out there which claim to be the real deal, but most of these are worse scams than Viagra. Luckily for you, we’ve done the research and found the 5 best supplements that REALLY work. If you want longer, stronger erections then look no further than the products below.</p>
			 <img src="/images/spartagen.jpg" width = "150" class = "pull-right">
			<h2>Spartagen</h2>
			<p>This is the premier all-natural herbal viagra at the best price you’re going to find. While every product on this list is quality, this is the offer that combines the best result with the best price. You will be astounded how large and hard you can actually be.</p>
			<p class = "desc"><a href="https://t.grtyi.com/qzilz9t7uo?offer_id=3811&aff_id=46235" >Visit Spartagen Site</a></p>
			 
			<h2>Phalogenics</h2>
			<img src="/images/phalogenics.jpg" width = "150" class = "pull-right" id = "phalogenics">
			<p >This incredible supplement has the major drug companies panicking. They have no idea how to deal with the fact that people know the truth. Phalogenics is offering life-changing male-enhancement supplements to thousands every day.</p>
			<p class = "desc"><a href="https://t.grtyi.com/gdu2ixaxhc?offer_id=4048&aff_id=46235" >Visit Phalogenics Site</a></p>
			
			<h2>Grow XL</h2>
			 <img src="/images/growxl.jpg" width = "120" class = "pull-right" id = "growxl">
			<p >No bullshit - this will make you bigger, harder, and totally crazy in bed. Check out this supplement if you don’t only want to rock a huge, hard dick, but also use it like a total pro.</p>
			<p class = "desc"><a href="https://t.grtyi.com/6mvup7c9vk?offer_id=421&aff_id=46235" >Visit Grow XL Site</a></p>
			 
			<h2>Peruvian Brew</h2>
			<img src="/images/peruvian.jpg" width = "120" class = "pull-right" id = "peruvian">
			
			<p >Big drug companies don’t want you to know that most of the effective medicines are NATURAL. This cocktail of peruvian plants does everything Viagra can - and more. FInd out how the secret to huge erections was found in the Andes. </p>
			<p class = "desc"><a href="https://t.grtyi.com/hgncnzcym8?offer_id=3911&aff_id=46235" >Visit Peruvian Brew Site</a></p>
			 
			<h2>Natural Breakthroughs</h2>
			<img src="/images/md.jpg" width = "120" class = "pull-right" id = "natural">
			<p >This supplement is absolutely a natural breakthrough. Just one dose is enough to give you the hardest, biggest erection of your life. Make sure you block out some extra time on your schedule if you go with this one - you won’t be soft for a long time. </p>
			<p class = "desc"><a href="https://t.grtyi.com/aej82ofdmo?offer_id=721&aff_id=46235" >Visit Natural Breakthroughs Site</a></p>
		</div>
	</div>
</div>

<footer>
	<div class = "container">
		<div class = "row">
			<div class= "col-sm-12">
				&copy; The Top Products

			</div>
		</div>
	</div>
</footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>
</html>
