<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- Bootstrap -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--Global CSS -->
    <%= stylesheet_link_tag "global.css" %>
  </head>
  <body>
    <div id = "slant-section">
    </div>
    <div class = "container">
      <div class = "row">
        <div class = "col-sm-12">
          <h3 id = "logo">top products</h3>


        </div>
      </div>
    </div>
  <div class = "container" id = "top-section">
        <div class = "row">
          <div class = "col-sm-8">
            <h1>Lorem ipsum dolor sit amet</h1>
            <p id = "slant-paragraph">Lorem ipsum dolor sit amet, vel aperiri atomorum eu. Ne fabulas maiestatis his, cu nominati inciderint qui. Altera utamur et vix, sumo legere lobortis vim id, duo no tempor quidam necessitatibus. Tamquam denique cu vis</p>
            <p><a href="#" class = "btn btn-success">Visit Firefly Vapes <img src="/images/arrow.png" id = "top-arrow"></a></p>

        </div>
        <div class = "col-sm-4">
          <img src="/images/firefly.png" id = "fireFly" class = "hidden-xs">

        </div>
        </div>
    </div>
    <div class = "container" id = "points-section">
    <div class = "row">
      <div class = "col-sm-4">
        <img src="/images/temp.png" class = "points">
        <h2>Ready, set, glow.</h2>
        <p>Place your fingertips on the touch sensors and reach 400° F in 3 seconds or less. The solid green LED means you’re</p>



      </div>
      <div class = "col-sm-4">
        <img src="/images/phone.png" class = "points">
         <h2>You’re in charge.</h2>
        <p>With the optional free Firefly app, you can select from six preset temperatures (340, 360, 380, 400, 420° F, and concentrates).</p>


      </div>
      <div class = "col-sm-4">
        <img src="/images/rank.png" class = "points">
         <h2>"Best Overall Vaporizer, 2016."</h2>
        <p>You deserve the best vapor experience in the world. This is it. Our completely unique heating technology delivers the absolute</p>


      </div>
    </div>
    </div>

<div id = "quotes-section">
  <div class = "container">
    <div class = "row">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
          <div class = "col-sm-3">
        <img src="/images/logo-1.png" class = "img-responsive logo-images">

      </div>
      <div class = "col-sm-8 col-sm-offset-1">
        <blockquote>The Firefly 2 is an amazing portable vaporizer. The thoughtful deliberation informing its redesign is evident in every component and curve. It creates wonderfully flavorful, cool vapor, handles flowers and oil.</blockquote>

      </div>
    
    </div>
    <div class="item">
      <div class = "col-sm-3">
        <img src="/images/logo-1.png" class = "img-responsive logo-images">

      </div>
      <div class = "col-sm-8 col-sm-offset-1">
        <blockquote>The Firefly 2 is an amazing portable vaporizer. The thoughtful deliberation informing its redesign is evident in every component and curve. It creates wonderfully flavorful, cool vapor, handles flowers and oil.</blockquote>

      </div>
    </div>
  <div class="item">
      <div class = "col-sm-3">
        <img src="/images/logo-1.png" class = "img-responsive logo-images">

      </div>
      <div class = "col-sm-8 col-sm-offset-1">
        <blockquote>The Firefly 2 is an amazing portable vaporizer. The thoughtful deliberation informing its redesign is evident in every component and curve. It creates wonderfully flavorful, cool vapor, handles flowers and oil.</blockquote>

      </div>
    </div>
    </div>
    </div>
  </div>
  </div>
</div>
<div class = "container" id = "last-section">
    <div class = "row">
      <div class = "col-sm-7 ">
        <h2>Welcome to first class.</h2>
        <p>You deserve the best vapor experience in the world. This is it. Our completely unique heating technology delivers the absolute freshest, most satisfying vapor from your favorite plants or concentrates. It’s incredibly fast, completely customizable, and practically effortless. It's also a whole lot of fun.
        You deserve the best vapor experience in the world. This is it. Our completely unique heating technology delivers the absolute freshest, most satisfying vapor from your favorite plants or concentrates. It’s incredibly fast, completely customizable, and practically effortless. It's also a whole lot of fun.</p>
  
      </div>
      <div class = "col-sm-4 col-sm-offset-1">
          <img src="/images/hand.png" id = "hand">
      </div>
    </div>
</div>
<div id = "cta-section">
  <div class = "container">
    <div class = "row">
      <div class = "col-sm-12">
        <h1>Firefly 2 vaporizes dry herbs and concentrates, heats in seconds.</h1>
        <p><a href="#" class = "btn btn-orange"> Visit Firefly Vapes</a></p>

      </div>
    </div>
  </div>
</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript">$('.carousel').carousel({
  interval: 7000
})</script>
  </body>
</html>